* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background: linear-gradient(318deg,
      rgba(0, 0, 0, 1) 17%,
      rgb(10, 1, 103) 100%);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Roboto Mono", serif;
  font-weight: 300;
  font-size: 20px;
  color: #e2e2e2;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #e2e2e2;
}

.container {
  width: min(100% - 40px, 1280px);
  margin-inline: auto;
  min-height: 100vh;
  position: relative;
}

.container__content {
  padding-bottom: 100px;
}

.container__title {
  font-family: "Orbitron", serif;
}

.container__subtitle {
  margin: 0 0 30px;
}

.container__title-highlight {
  color: #ffd900;
}

/* Span соответствует размеру контента */
.container__subtitle-highlight {
  color: #5882ec;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 8px;
  border: 2px solid #ffd900;
}

.container__content-description {
  margin-bottom: 30px;
  margin-top: 0;
}

/* Span превратился в блочный элемент: margin "схлопывается", применяется бОльший margin(30px) */
.container__content-item--block {
  display: block;
  margin-top: 15px;
  margin-bottom: 30px;
  border-top: 2px solid #ffd900;
  padding-top: 15px;
}

/* Span является строчным, действует margin блочного(30px) элемента. margin-top: 70px игнорируется */
.container__content-item--inline {
  margin-top: 70px;
  border-top: 2px solid #ffd900;
}

.container__block {
  margin: 100px 0 0;
}

.container__content-link {
  color: rgb(151, 59, 236);
  font-weight: 500;
  text-decoration: underline;
}

/* ====================Task 4 =====================*/

/* Header */
.nav__list--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  padding: 25px 40px;
}

.nav__item-link {
  color: #0b084e;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: "Orbitron", serif;
}

.nav__item-link:hover {
  background: #ffd900;
  color: #000;
  border-radius: 8px;
  padding: 10px 25px;
  border-bottom: 2px solid #c6c4c452;
  text-transform: uppercase;
}

/* Content */

.link--block {
  display: block;
}

.container__content-list-item {
  display: inline;
}

.container__content-box {
  display: flex;
  gap: 40px;
  margin: 80px 0 80px;
}

.container__content-nav--flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}

/*========================= Task 5 ========================*/
.container__box {
  margin-top: 100px;
}

.container__content-image--float-left {
  float: left;
  margin: 0 40px 20px 0;
  width: 200px;
}

.container__content-image--float-right {
  float: right;
  margin-left: 20px;
  width: 300px;
}

.container__content-image-center {
  float: right;
  width: 110px;
}

.container__description--clear {
  clear: right;
}

/*======================== Task 6 ========================*/
.container-overflow {
  width: 800px;
  height: 800px;
  margin: 30px auto;
  padding: 30px;
  overflow: scroll;
  scrollbar-color: #ffd900 transparent;
  scrollbar-width: thin;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 0;
}

/*======================== Task 7 ========================*/

.container__box-image-absolute {
  width: 5vw;
}

.container__box-absolute {
  position: absolute;
  right: 40vw;
  bottom: 0;
}

.container__box-text-absolute {
  font-family: "Orbitron", serif;
  font-weight: 400;
}

.container__content-image-top {
  position: absolute;
  top: -50px;
  left: -60px;
  width: 10vw;
}

.container__image-relative {
  position: relative;
  width: 20vw;
  top: -80px;
  right: 50px;
  margin-bottom: 50px;
}

.container__box-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
}

.container__box-text-fixed {
  font-family: "Orbitron", serif;
  font-weight: 400;
}

.container__box-image-fixed {
  width: 5vw;
}

.container__content-title {
  margin: 0;
}

.container__content-item--sticky {
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
  padding: 8px 0 8px 15px;
  margin-bottom: 20px;
  background-color: rgb(10, 1, 103);
  font-family: "Orbitron", serif;
  font-weight: 400;
  z-index: 1;
  border: 2px solid #ffd900;
}